# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Node/Vite
frontend/node_modules/
frontend/dist/

# Dataset
data/PlantVillage/
data/processed/

# Environment variables
.env

# OS/editor files
.DS_Store
Thumbs.db
.vscode/